
  .svg-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: 2em;
      }
  }
  
  .st0 {
    fill: #FFB95C;
  }
  
  .st1 {
    fill: #EF924D;
  }
  
  .st2 {
    fill: #FFFFFF;
  }
  
  .st3 {
    fill: #FFAB91;
  }
  
  .st4 {
    fill: none;
    stroke: #46133C;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  
  .st5 {
    fill: #5F235A;
  }
  
  .st6 {
    opacity: 0.15;
  }
  
  .st7 {
    fill: #75CC9C;
  }
  
  .st8 {
    fill: #EE406D;
  }
  
  .st9 {
    opacity: 0.15;
    fill: #5F235A;
  }
  
  .st10 {
    fill: #FFA45A;
  }
  
  .st11 {
    fill: none;
    stroke: #46133C;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  
  .st12 {
    fill: #CC1F49;
  }
  
  .st13 {
    opacity: 0.43;
    fill: #FFAB91;
  }
  
  .st14 {
    fill: #FF5757;
  }
  
  .st15 {
    opacity: 0.71;
    fill: #FFFFFF;
  }
  
  .st16 {
    fill: #46133C;
  }
  
  .st17 {
    fill: #6D524E;
  }
  
  .st18 {
    fill: #5F2E50;
  }
  
  .st19 {
    opacity: 0.34;
  }
  
  .st20 {
    fill: none;
    stroke: #4E342E;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  
  .st21 {
    fill: #FF3B61;
  }
  
  .st22 {
    opacity: 0.43;
  }
  
  .st23 {
    fill: #A8DDEF;
  }
  
  .st24 {
    opacity: 0.42;
    fill: #939EC5;
  }